[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
#Exec=/home/ultra-user/paparazzi/paparazzi
Exec=/home/christoph/paparazzi/52/paparazzi
Name=Paparazzi
Icon=/home/christoph/paparazzi/52/data/pictures/penguin_icon.png
Categories=Development
Comment=Paparazzi Center

